@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 4 - Rohil's 2nd attempt at Azure</h1>
    <p class="lead"><b>Welcome back folks!!! I know my applications were missed. Never fear.. I'm back!!</b></p>
    <p><a href="http://rkkhakhar-wa2020a4.azurewebsites.net/" target="_blank" class="btn btn-primary btn-lg">Learn More &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2><b><i>About this legendary template</i></b></h2>
        <p>Includes security-aware features that we have covered recently.</p>
        <p>Role claims are defined by a design model class, and initialized during the "load data" task.</p>
        <p>This template also includes graceful error-handling. </p>
    </div>
    <div class="col-md-4">
        <h2><b><i>Rohil's advice</i></b></h2>
        <p>Do the following <b>BEFORE</b> you attempt to register any new users...</p>
        <p>In the Manager class, in the LoadData() method, add the role claims that are needed in the app.</p>
    </div>
</div>