@{
    ViewBag.Title = "More about Rohil Khakhar's awesome application";
}
<h2><b><i>@ViewBag.Title.</i></b></h2>
<h3><b>@ViewBag.Message</b></h3>

<h4><b>The course I'm taking: <i>Computer Programming & Analysis</i></b></h4>
<h4><b>The name of this particular module: <i>WEB524 - Web Programming using ASP.NET</i></b></h4>
<h4><b>My current term: <i>Winter 2020 - Semester 5</i></b></h4>

<h4><b>Why I took up this course: </b> <i>Wanted to explore a different dimension of Web Programming and broaden my interest level. In addition, I was always fond to learning C# at one point. Heard a lot about it.</i></h4>

<div class="row">

    <div class="col-md-3"><h4><a class="btn btn-primary btn-sm" target="_blank" href="https://dotnet.microsoft.com/apps/aspnet">More on ASP.NET &raquo;</a></h4></div>
    <div class="col-md-3"><h4><a class="btn btn-primary btn-sm" target="_blank" href="https://www.w3schools.com/cs/cs_intro.asp">More on C# - The talk of the town &raquo;</a></h4></div>
</div>
