@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 2 - Rohil's App <i><b>2.0</b></i></h1>
    <p class="lead">Hello visitors, this is my second ASP.NET application; inculcating everything I have learnt in my previous web programming courses. Enjoy the ride!!! Happy Browsing!!</p>
  
</div>

<div class="row">
    
    <div class="col-md-4">
        <h2>My Resources</h2>
        <p>
            The one an only Stack Overflow!!!! Needs no introduction does it?? The best open source help forum I've come across.
            However, other sites shall not be neglected as they are <b>EQUALLY</b> helpful.
        </p>
        <p><a class="btn btn-default" target="_blank" href="https://stackoverflow.com">See for yourself &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Who Am I??</h2>
        <p>
            Well that's an intriguing question. Why don't you find out!!
        </p>
        <p><a class="btn btn-default" target="_blank" href="https://www.linkedin.com/in/rohil-khakhar-217388171/">Unravel Rohil's journey &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>My Objective</h2>
        <p>
            To become sharper with my web development skills <b>(5 points for noticing the wordplay)</b>
        </p>
        <p><a class="btn btn-default" target="_blank" href="https://tenor.com/search/sheldon-bazinga-gifs">Claim your reward NOW &raquo;</a></p>
    </div>
</div>