@{
    ViewBag.Title = "Ask Away!!";
}
<h2><i><b>@ViewBag.Title.</b></i></h2>
<h3><i>@ViewBag.Message</i></h3>

<address>

    Seneca Residence <br />
    1760 Finch Avenue East<br />
    Toronto, ON<br />
    Phone: <b>Given upon request :P</b>

</address>

<address>
    <strong>Linkedin:</strong>   <a href="https://www.linkedin.com/in/rohil-khakhar-217388171/" target="_blank"> Rohil Khakhar</a><br />
    <strong>Email:</strong> <a href="mailto:rkkhakhar@myseneca.ca" target="_blank">rkkhakhar@myseneca.ca</a>
</address>