@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 1 - Rohil's App</h1>
    <p class="lead">Hello visitors, this is my maiden ASP.NET application; inculcating everything I have learnt in my previous web programming courses. Enjoy the ride!!! Happy Browsing!!</p>
    <p><a href="https://learn-us-east-1-prod-fleet01-xythos.s3.us-east-1.amazonaws.com/5c082fb7a0cdb/12814178?response-content-disposition=inline%3B%20filename%2A%3DUTF-8%27%27Assignment%25201%2520-%2520Milestone%25201.pdf&response-content-type=application%2Fpdf&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20200121T020547Z&X-Amz-SignedHeaders=host&X-Amz-Expires=21600&X-Amz-Credential=AKIAZH6WM4PLTYPZRQMY%2F20200121%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=99a0f6f1efeffb6eb4a84750435b9d3e94f9fdedb02e2238bdd3a6f50d9c0fd5" 
          target="_blank" class="btn btn-primary btn-lg">Instructions are here!! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>About this app</h2>
        <p>
            My first attempt at an ASP.NET application, coupled with C# functionality. Will deal with displaying employee data. Stay tuned!!.
        </p>
        <p>
         <a href="https://learn-us-east-1-prod-fleet01-xythos.s3.us-east-1.amazonaws.com/5c082fb7a0cdb/12814178?response-content-disposition=inline%3B%20filename%2A%3DUTF-8%27%27Assignment%25201%2520-%2520Milestone%25201.pdf&response-content-type=application%2Fpdf&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20200121T020547Z&X-Amz-SignedHeaders=host&X-Amz-Expires=21600&X-Amz-Credential=AKIAZH6WM4PLTYPZRQMY%2F20200121%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=99a0f6f1efeffb6eb4a84750435b9d3e94f9fdedb02e2238bdd3a6f50d9c0fd5"
               target="_blank" class="btn btn-default"> Behind the scenes&raquo;</a>
        </p>
    </div>
    <div class="col-md-3">
        <h2>My Resources</h2>
        <p>
            The one an only Stack Overflow!!!! Needs no introduction does it?? The best open source help forum I've come across.
            However, other sites shall not be neglected as they are <b>EQUALLY</b> helpful.
        </p>
        <p><a class="btn btn-default" target="_blank" href="https://stackoverflow.com">See for yourself &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Who Am I??</h2>
        <p>
            Well that's an intriguing question. Why don't you find out!!
        </p>
        <p><a class="btn btn-default" target="_blank" href="https://www.linkedin.com/in/rohil-khakhar-217388171/">Unravel Rohil's journey &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>My Objective</h2>
        <p>
            To become sharper with my web development skills <b>(5 points for noticing the wordplay)</b>
        </p>
        <p><a class="btn btn-default" target="_blank" href="https://tenor.com/search/sheldon-bazinga-gifs">Claim your reward NOW &raquo;</a></p>
    </div>
</div>